.contactoContainer {
    background: linear-gradient(
        90deg,
        rgba(255, 199, 7, 1) 0%,    /* Amarillo */
        rgba(255, 180, 0, 1) 11%,    /* Amarillo oscuro */
        rgba(255, 157, 0, 1) 37%,    /* Amarillo más oscuro */
        rgba(255, 157, 0, 1) 60%,    /* Amarillo más oscuro */
        rgba(255, 180, 0, 1) 85%,    /* Amarillo oscuro */
        rgba(255, 199, 7, 1) 100%    /* Amarillo */
      );
    color: #fff;
}

.subtitleBlack {
    color: #000;
}

.contactIcons {
    font-size: 20px;
    
}

.linkContacto {
    text-decoration: none;
    color: #000;
}