.servicesContainer {
    background-color: #000;
    color: #fff;
}

.titleServices {
    color: var(--fern-400);
    text-align: center;
}

.iconServices {
    font-size: 45px;
    padding-bottom: 5px;
}

.cardServices {
    width: 500px;
    padding-left: 20px;
    padding-right: 20px;
}
